* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.nav {
  background-color: #00dbde;
  background-image: linear-gradient(90deg, #00dbde 0%, #fc00ff 100%);

  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  padding: 0 1rem;
}

#titulo-sitio {
  height: 100%;
  font-size: 3rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.nav ul {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  gap: 1rem;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.nav a {
  color: inherit;
  text-decoration: none;
  height: 100%;
  width: 25%;
  display: flex;
  padding: 0.25rem;
  align-items: center;
  font-size: 1.3rem;
}

.nav a:hover {
  color: #fff;
}

.nav li:hover {
  background-color: rgb(202, 129, 19);
}
